html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .section1 {
        background: url(../pic/bg-1.jpg) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
    }
    #break_dawn{
        float: right;
        margin-right: 10%;
    }
    #door{
        max-width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        clear: both;
    }
    #news_center{
        float: right;
        margin-right: 5%;
    }

#page_word{
    background: url(../pic/png/page2-bg.png) no-repeat;
    background-size: auto 627px;
}
.ver_word{
    width: 1em;
    font-size: 6em;
    letter-spacing: 6em;
    margin-top: 0px;
    margin-right: 0.8em;
    margin-bottom: 0em;
    margin-left: 70%;
}
.word{
    font-size: 3em;
    margin-right: 0.1em;
    margin-top: 0.1em;
    margin-left: 50%;
}
#zero_long_word{
    font-size: 1.23em;
}
#section3 ul{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
#section3 ul li {
    margin-top: 0.4em;
    margin-right: 0.4em;
    list-style: none;
}
#drawcircle{
    position: absolute;
    left: -5em;
    top: 3em;
    height: 12em;
    width:12em;
    border-radius: 6em;
    background-color: rgba(203, 230, 204, 0.9);
}
#catelog_div{
    width: 4em;
    position: absolute;
    left: 4.5em;
}
#catelog{
    font-size: 4em;
    position: absolute;
    margin: 0.3em;
}
#log_div{
    height: 100%;
    display: table;
    margin-left: 19%;
}
#log{
    font-size: 1.3em;
    display: table-cell;
    vertical-align: middle;
}
#log p{
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
#duty{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 1.3em;
    display: table;
}
#duty_p{
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
}
#duty_p p:nth-child(1) span{
    color: rgb(36,176,100);
}
#duty_p p:nth-child(2) span{
    color:rgb(182,183,71);
}
#duty_p p:nth-child(3) span{
    color: rgb(102,162,210);
}
#duty_p p:nth-child(4) span{
    color: rgb(231,171,125);
}
#duty_p p:nth-child(5) span{
    color: rgb(75,172,64);
}
#camphor{
    background-color: rgb(233,233,186);
    height: 100%;
    width: 100%;
}
#camphor img{
    width: 100%;
    margin-top: 10%;
}
#shuhun_div{
    background: url(../pic/page10.png) no-repeat;
    background-size: 100% 100%;
}
#fifth_long_word img{
    display: block;
    margin: 0 auto;
}
.section5{
    font-size: 1.3em;
    background: snow; /* 备用属性 */
    background: -webkit-radial-gradient(bottom right, circle, rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
    background: -moz-webkit-radial-gradient(bottom right, circle, rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
    background: -ms-webkit-radial-gradient(bottom right, circle, rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
    background: -o-webkit-radial-gradient(bottom right, circle, rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
}
#sixth_long_word img{
    display: block;
    margin: 0 auto;
}
#sixth_long_word{
    font-size: 1.3em;
}
#yoo_div img:nth-child(1){
    width: 100%;
    height: auto;
}
#yoo_div img:nth-child(5){
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
}
#yoo_div{
    display: table;
    width: 100%;
    margin: 0 auto;
}
#yoo{
    display: table-cell;
    vertical-align: middle;
}
#bichu_div{
    height: 100%;
    width: 100%;
    position: relative;
}
#bichu{
    position: absolute;
    top: 30%;
    left: 30%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
#jiepou_div{
    height: 100%;
    width: 100%;
}
#chensan{
    width: 100%;
    height: auto;
}
#all_glass img{
    width: 100%;
}
#zhuangtai_div{
    height: 100%;
    width:100%;
    display: table;
}
#zhuangtai{
    display: table-cell;
    vertical-align: middle;
}
#zhuangtai img{
    width: 90%;
    margin: 0 5%;
}
#last_page{
    background: url(../pic/bg-1.jpg) no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
#last_page img{
    display: block;
    margin: 0 auto;
}
